h1 {
	color: #253D1D;
	font-size: 15vh;
	margin: 1vh;
}

h2 {
	color: #253D1D;
	width: 15vw;
	margin: 1vh;
	margin-bottom: 3vh;
	font-weight: 1vh;
	border-radius: 5px;
	padding: 10px 30px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.7);
	text-align: center;
}

button {
	color: #fff;
	background-color: #253D1D;
	border-radius: 10px;
	padding: 10px 10px;
	margin: 1vh;
	
}

input {
	width: 20vw;
	height: 5vh;
	display: block;
	margin: 1vh;
	padding: 1vh;
	border-radius: 2px;
}

#searchUsersDiv {
	border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    width: 20vw;
    padding: 1vw;
}

#searchUsersDiv div {
	height: 5vh;
}

#friendNameDiv {
	float: left;
	width: 12vw
}

#buttonFriendDiv {
	float: left;
	width: 8vw
}

section.overlay {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.75);
    z-index:9999;
    color:white;
    visibility: hidden;
}

section.overlay .debt {
	position: relative;
	top: 80px;
	margin-right: auto;
	margin-left: auto;
	width: 370px;
	max-height: 600px;
	background-color:#A9A9A9;
	color:#F4F4F4;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.7);
	overflow-x:auto;

}

section.overlay .debt div {
	float: left;
}

#friendsdebt {
	width: 350px;
}

#friendsdebt div {
	width: 350px;
	margin: 10px;
	
}

#friendsdebt div .label {
	float: left;
	font-size: 30px;
	width: 100px;
}

#friendsdebt div .inputcheck {
	float: left;
	width: 50px;
	line-height: -10px;
}