body{
	/*font-family: Tahoma, Geneva, sans-serif;*/

	background-color: rgba(60, 119, 40, 0.21);
}

.btnSair{
float: right;
width: 21px;
padding: 4px;
border-radius: 200px;

}
.form {
	margin: 41px;
}

.buttons{

	margin:auto;
	width:412px;
	padding:3px;
	margin-top: 26px;

}
.box{

background-color: #fff;
width: 500px;
margin: auto;
margin-top: 40px;
padding: 20px;

}

.boxHome{

padding-top: 45px;
height: 200px;

}

.boxIndex{
	padding-top: 1px;

}

.header{
height: 40px;
background-color: #253D1D;
margin-top: -8px;
margin-left: -8px;
/*padding: 3px;*/
}

.logo{
	font-size: 17px;
	font-family: "Arial", Gadget, sans-serif;
	margin-left: 10px;
}


.page {
	/*width: 100vw;*/

	height: 200px;
}

/*.left {
	float: left;
	width: 50 vw;
	height: 100vh;
}*/

/*.left div {
	width: 50 vw;
	text-align: center;

}*/
/*.right {
	/*float: left;
	width: 50 vw;
	height: 100vh;
}
*/
h1 {
	/*color: #253D1D;*/
	float: left;
	color: #fff;
	font-size: 5vh;
	width: 48vw;
	/*text-align: center;*/
	margin: 4	vh;
}

/*h2 {
	color: #253D1D;
	width: 15vw;
	margin: 1vh;
	margin-bottom: 3vh;
	font-weight: 1vh;
	border-radius: 5px;
	padding: 10px 30px;
	/*box-shadow: 1px 1px 2px rgba(0,0,0,0.7);*/
	/*text-align: center;*/
/*}*/

#usernamePerfil {
	/*margin: 1vh 17.5vw;*/
	margin-top: 10px;
	margin-right: 15px;
	font-size: 17px;
	color: #fff;
	float: right;
	width: auto;
}

button {
	color: #fff;
	background-color: #253D1D;
	border-style: none;
	padding: 10px 10px;
	margin: 1px;
	width: 202px;


}

input {
	width: 400px;
	height: 15px;
	display: block;
	margin: 3px;
	padding: 3px;
	border-radius: 2px;
}

#searchbar {
	width: 400px;
	margin: auto;
	margin-top: 30px;
	height: 15px;
}

#searchUsersDiv {
	/*border-style: solid;*/
    /*border-width: 2px;*/
    /*border-radius: 5px;*/
    width: 500px;
    /*padding: 1vw;*/
    /*margin: 1vh 14vw;*/
	margin: auto;
	margin-top: 30px;
}

#searchUsersDiv div {
	height: 5vh;
}

#friendNameDiv {
	float: left;
	width: 12vw
}

#buttonFriendDiv {
	float: left;
	width: 8vw
}

section.overlay {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.75);
    z-index:9999;
    color:white;
    visibility: hidden;
}

section.overlay .debt {
	position: relative;
	top: 80px;
	margin-right: auto;
	margin-left: auto;
	width: 350px;
	/*max-height: 600px;*/
	height: 400px;
	/*background-color:#A9A9A9;*/
	background-color: rgb(137, 154, 131);
	color:#F4F4F4;
	/*border-radius: 5px;*/
	padding: 10px;
	/*box-shadow: 1px 1px 2px rgba(0,0,0,0.7);*/
	/*overflow-x:auto;*/

}

section.overlay .debt div {
	float: left;
}

#friendsdebt {
	width: 350px;
	height: 250px;
	margin-top: 20px;
	/*overflow-y: scroll;*/
	overflow: auto;

}

#friendsdebt div {
	display: block;
	width: 330px;
	margin: 10px;

}

#friendsdebt div .label {
	float: left;
	font-size: 20px;
	width: 300px;

}

#friendsdebt div .inputcheck {
	float: left;


}

input[type="checkbox"]{

	width: 20px;
	float: right;
	display: inline-block;

}
.inputOverlay{

	width: 300px;
	margin: auto;
}

.btnAddDivida{
margin: auto;
margin-left: 70px;
}
.btnQuitar{
margin-left: 50px;

}
.register{
	width: 500px;
	padding: 25px;
	margin: auto;
	background-color: #fff;
	margin-top: 50px



}

.btnSignUp{

display: block;
margin-left: 150px;

}
.friendName{


	    float: left;
	    width: 99px;
	    margin: 0px;
	    margin-top: 9px;


}

.btnAddAmigo{

float: right;

}
